@font-face{
	font-family: Domine;
	src: url(../font/Domine-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-family: Domine;
}

body{
	background-color: #e4e4e4;
	color: 	#343131;
}

nav{
	color: white;
	background-color:#343131;
}

#navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
}

img{
	width: 100%;
	height: 100%;
}

.logo{
	width: 5rem;
	height: 5rem;
	position: absolute;
	left: 0;
	
}

.txtMenu{
	text-align: center;
}

.container{
	width: 50%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label{
	margin-top: 10px;
	width: 100%;
}

input{
	margin-top: 10px;
	width: 100%;

}

button{
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

select{
	margin-top: 10px;
	align-items: center;
	width: 100%;
	text-align: center;
}